/* Other rules */
body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.cs-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: calc(100% - 200px);
  color: #15b1ba;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display: inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}

/*  */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px Opx;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

.logo {
  width: 150px;
}
.logo:hover {
  cursor: pointer;
}

.searchBar {
  height: 30px;
  width: 500px;
  display: flex;
  justify-content: left;
  padding-left: 20px;
  background-color: rgb(236, 233, 233);
  border: none;
  border-radius: 20px;
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-span {
  margin-right: 20px;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.btn-left {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  border: #15b1ba 3px solid;
  color: #15b1ba;
  background-color: white;
  font-size: 14px;
}

.btn-sale {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  border: #15b1ba 3px solid;
  color: white;
  background-color: #15b1ba;
  font-size: 14px;
}

.btn-right {
  margin-left: 30px;
  padding: 5px 10px;
  border: #15b1ba 3px solid;
  border-radius: 20px;
  background-color: #15b1ba;
  font-size: 13px;
  box-sizing: border-box;
  color: white;
  font-size: 14px;
}
button:hover {
  cursor: pointer;
}

.banner {
  background-image: url("./img/banner-vinted.jpg");
  height: 455px;
  width: 100%;
  position: relative;
  background-position: 50%;
  background-size: cover;
}

.banner-ready {
  height: 220px;
  width: 360px;
  background-color: #fff;
  padding: 25px;
  border-radius: 3px;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 75px;
  margin-left: 40px;
  border-radius: 10px;
}

.banner-wide {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
  pointer-events: none;
}

.bann {
  margin-top: 40px;
}
.banner-pic {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
  pointer-events: none;
}

.products {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px auto;
  /* background-color: aquamarine; */
}

.item {
  /* border: blue 5px solid; */
  background-color: rgb(248, 248, 248);
  padding: 10px;
  cursor: pointer;
  margin: 20px;
  box-sizing: border-box;
}

.img-item {
  width: 250px;
  height: 350px;
  object-fit: cover;
}

.img-item:hover {
  transform: scale(1.6);
  object-fit: contain;
}

.price {
  font-size: 18px;
  color: black;
}
.details {
  font-size: 13px;
  color: rgb(163, 157, 157);
}

.link {
  text-decoration: none;
}

.offer-page {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  grid-gap: 30px;
  gap: 30px;
  background-color: rgb(240, 240, 240);
  box-sizing: border-box;
}

.offer-picture {
  height: 600px;
  width: 50%;
  object-fit: contain;
}

.offer-picture:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

.offer-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 320px;
  padding: 40px;
}

.offer-price {
  font-size: 30px;
  margin-bottom: 20px;
}

.offer-infos-2 {
  border-top: 1px grey dashed;
  padding-top: 20px;
  font-size: 20px;
}

.infos-details {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding-top: 5px;
}
.grey {
  color: rgb(141, 140, 140);
}

.username {
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
}

.footer {
  margin: 0 auto;
  background-color: #15b1ba;
  color: white;
  font-size: 20px;
  text-align: center;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.input-sub {
  margin: 15px;
  padding: 5px;
  border: none;
  /* border-bottom: 1px solid rgb(233, 146, 146); */
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
  padding: 10px;
  width: 400px;
  margin: 30px auto;
}

h2 {
  margin: 10px;
  text-align: center;
}

.sub {
  display: flex;
  justify-content: center;
}

.btn-sub {
  width: 40%;
  margin: 10px auto;
  padding: 15px;
  border-radius: 20px;
  background-color: #15b1ba;
  border: none;
  color: white;
  font-size: 18px;
}
.btn-sub:hover {
  cursor: pointer;
}

p {
  font-size: 13px;
  color: grey;
  text-align: justify;
}
.baseline {
  font-size: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.baseline:hover {
  cursor: pointer;
}

.header-btn {
  display: flex;
  align-items: center;
}

.disconnect {
  background-color: red;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  border: red 3px solid;
  color: white;
  font-size: 14px;
}

.pagination {
  width: fit-content;
  margin: 30px auto;
  display: flex;
}

.page-btn {
  margin: 0px 20px;
  background-color: #15b1ba;
  color: white;
  border: none;
}

.container-home {
  width: 100%;
  margin: 20px auto;
  /* background-color: palegreen; */
  box-sizing: border-box;
}
/* MEDIA QUERIES */

@media (max-width: 1064px) {
  .header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    /* background-color: orchid; */
  }
  .component-hdr {
    display: none;
  }
  .searchBar {
    width: 300px;
  }
  .offer-picture {
    width: 400px;
  }
}

@media (max-width: 840px) {
  .searchBar {
    display: none;
  }
  .header {
    justify-content: space-evenly;
  }
  .offer-page {
    flex-direction: column;
    /* background-color: peru; */
    align-items: center;
    justify-content: center;
  }

  form {
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
  }
}

@media (max-width: 560px) {
  .header {
    flex-direction: column;
  }
}

@media (max-width: 342px) {
  .header {
    display: flex;
  }

  .logo {
    width: 100px;
  }
  .banner {
    width: 100%;
    /* background-position: 20%; */
  }

  .banner-ready {
    padding: none;
    width: 40%;
    font-size: 20px;
    height: 180px;
    justify-content: center;
    align-items: center;
  }
}
